@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

.M.treeNode {
    background: linear-gradient(180deg, rgba(223,141,255,1) 0%, rgba(141,185,255,1) 100%);
    border-radius: 5px;
    border: 0px;
    width: 90px;
    height: 90px;
    box-shadow: 3px 3px 0px #ffffff;
}

.M.treeNode.can:hover {
    box-shadow: 3px 3px 15px #ffffff;
}

.P.treeNode {
    background: linear-gradient(180deg, rgba(255,93,93,1) 0%, rgba(255,72,146,1) 100%);
    border-radius: 5px;
    border: 0px;
    width: 90px;
    height: 90px;
    box-shadow: 3px 3px 0px #ffffff;
}

.P.treeNode.can:hover {
    box-shadow: 3px 3px 15px #ffffff;
}

.A.smallNode {
    color: white;
    background: rgb(161,8,8);
    background: linear-gradient(180deg, rgba(161,8,8,1) 0%, rgba(255,90,0,1) 100%);
    border-radius: 5px;
    border: 0px;
    width: 70px;
    height: 70px;
    box-shadow: 3px 3px 0px #ffffff;
}

.A.smallNode.can:hover {
    box-shadow: 3px 3px 15px #ffffff;
}


.CORE.treeNode {
    border-radius: 5px;
    border: 0px;
    width: 70px;
    height: 70px;
}

.M.upg {
    color: white;
    margin: 2px;
    border: 0px;
    border-radius: 2.5px;
}

.M.tabButton {
    border-radius: 0px;
    border: 2px;
}

.P.reset {
    border: 0px;
    border-radius: 5px;
}

.P.upg {

    border: 0px;
    border-radius: 2.5px;
}

.P.tabButton {
    border-radius: 0px;
    border: 2px;
}

.P.milestone {
    border-radius: 0px;
    border: 2px;
    margin: 5px;
}

.P.milestoneDone {
    border-radius: 0px;
    border: 2px;
    margin: 5px;

}
